/* Establishing Variables */

:root {
  --med-blue: #126e82;
  --lg-blue: #51c4d3;
}

/* Main Element Styles */

body {
background-color: #d8e3e7;
font-family: 'Signika', sans-serif;
}

h1 {
  font-family: 'Caveat Brush', cursive;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}


/* Top Color Bar */

.color-bar {
  background-color: var(--med-blue);
  height: 100px;
}

/* Rocket Image */

.rocket-img {
  display: inline-block;
  float: left;
  margin: 6% 0 0 5%;
  height: 300px;
  width: 200px;
}
/* Primary Message */

.primary-message-box {
  text-align: center;
  padding: 5% 30% 0 30%;
}

.primary-message-text {
  font-size: 5rem;
}

.secondary-message-box {
  text-align: center;
  padding: 2% 30%;
}

.secondary-message-text {
  font-size: 1.5rem;
}

/* Buttons */

.button-box {
  padding: 0 15%;
}

.btnt-row {
  padding: 1% 0;
  margin: 5px 0;
}

.resource-button {
  background-color: var(--med-blue);
  border: none;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  text-align: center;
}

.resource-button:hover {
  background-color: var(--lg-blue);
  color: #000;
}

.button-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5%;
  text-align: center;
}

.button-text:hover {
  color: #000;
}
